@import "../../scss/configs";

.btn-add-to-calendar {
  background: $brand-orange;
  color: #fff;
  font-weight: bold;
  border-radius: 0px;
  font-size: 20px;
}

.thank-you-title {
  font-weight: normal;
  font-size: 15px;
}
