
@import url("https://fast.fonts.net/t/1.css?apiType=css&projectid=ea2dcc1b-10e1-4a33-b163-6812fab7d803");
@font-face{
    font-family:"Helvetica Neue LT W05_45 Light";
    src:url("/fonts/cb0d1e8a-e111-4dbf-82c2-e948aba954c0.eot?#iefix");
    src:url("/fonts/cb0d1e8a-e111-4dbf-82c2-e948aba954c0.eot?#iefix") format("eot"),url("/fonts/f9c5199e-a996-4c08-9042-1eb845bb7495.woff2") format("woff2"),url("/fonts/2a34f1f8-d701-4949-b12d-133c1c2636eb.woff") format("woff"),url("/fonts/fdf10d5e-4ce0-45e5-a6c1-5eaff6cb1c11.ttf") format("truetype");
}
@font-face{
    font-family:"Helvetica Neue LT W05_67 Md Cn";
    src:url("/fonts/6994d5d5-1d80-494f-892d-c78bfa4ea02c.eot?#iefix");
    src:url("/fonts/6994d5d5-1d80-494f-892d-c78bfa4ea02c.eot?#iefix") format("eot"),url("/fonts/1a559dd9-e51e-45d5-86eb-f343223bacef.woff2") format("woff2"),url("/fonts/581fae27-b5f4-44ab-b5b1-92f11d4f9838.woff") format("woff"),url("/fonts/c0f9c753-4ac5-481a-ab98-9608b0d315e0.ttf") format("truetype");
}
@font-face{
    font-family:"Helvetica Neue LT W05_65 Medium";
    src:url("/fonts/5640036d-d549-4f16-b31e-87da78d9e832.eot?#iefix");
    src:url("/fonts/5640036d-d549-4f16-b31e-87da78d9e832.eot?#iefix") format("eot"),url("/fonts/240c57a0-fdce-440d-9ce3-85e0cb56f470.woff2") format("woff2"),url("/fonts/7802e576-2ffa-4f22-a409-534355fbea79.woff") format("woff"),url("/fonts/14d824a2-2a5c-4692-8e30-74f6e177b675.ttf") format("truetype");
}