@import "./configs";

html,
body {
  font-family: $helvetica;
}

.dfa-app {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button:focus {
  outline: none;
}

.hamburger-icon {
  position: fixed;
  top: 0px;
  right: 20px;
  @include font-size(50);
  z-index: 3 !important;
  @media only screen and (min-width: $md-min) {
    display: none;
  }
}

.base-header {
  position: fixed;
  width: 100%;
  z-index: 1 !important;
  .outer-container {
    background: #ffffff;
    margin-bottom: 1rem;
    border-bottom: 1px solid #e4e4e4;
    box-shadow: -1px 2px 9px -1px rgba(0, 0, 0, 0.1);
  }
  .inner-container {
    margin: 0 auto;
    max-width: $base-maxwidth;
    padding-top: $base-padding;
    padding-bottom: $base-padding;
  }

  .logo {
    max-height: 70px;
    margin-bottom: 0;
  }
}

.base-body {
  margin: 0 auto;
  max-width: $base-maxwidth;
  color: $dark-gray;
  display: inline-block;
  padding-top: 124px;
}
.base-container {
  display: block;
  max-width: $base-maxwidth;
  margin: 0 auto;
  // min-height: 515px;
  @media only screen and (max-width: $md-min) {
    min-height: auto;
  }
}
.side-isi {
  display: inline-block;
  margin: 0 auto;
  max-width: 238px;
  color: white;
  float: right;
  .side-isi-container {
    position: relative;
    top: 20px;
    .side-isi-scroller {
      overflow: scroll;
      height: 515px;
      border: 2px solid #ffe179;
    }
  }
  @media only screen and (max-width: $md-min) {
    display: none;
  }
}
.base-footer {
  .outer-container {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .inner-container {
    margin: 0 auto;
    max-width: $base-maxwidth;
    padding-top: $base-padding;
    padding-bottom: $base-padding;
    padding-left: 15px;
    @media only screen and (max-width: $md-min) {
      padding-left: 0px;
    }
  }
}

.posed-anim-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.pink-button {
  background-color: $brand-lt-purple;
  color: white;
  font-weight: 600;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
  text-align: center;
}

.yellow-button {
  background-color: #fcf2ce;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2em;
  margin-top: 10px;
  a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
  }
}
.block_nowrap {
  white-space: pre;
}

p {
  font-family: Arial, serif;
}

h4 {
  font-family: Arial, $helvi;

  strong {
    font-family: $helvi-md-cn, Arial, Helvetica, sans-serif;
  }
}
